* {
  margin: 0;
  padding: 0;
}

ul {
  padding-left: 40px;
}

body {
  padding-top: 60px;
  padding-left: 20px;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 50px;
  backdrop-filter: blur(4px);
  background-color: rgba(200, 200, 200, 0.5);
  box-shadow: 0px 5px 10px rgba(10, 10, 10, 0.3);
  border-bottom: 1px solid #ccc;
}

nav {
  margin-left: 20px;
  height: 100%;
  display: flex;
  align-items: center;
  gap: 20px;
}
